@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e2e4eb;
  font-size: 14px;
}

/* slider button style end */
.dropdown-content {
  display: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content-h {
  display: none;
}
