@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #E2E4EB;
}

/* slider button style end */
.dropdown-content{
  display: none;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown:hover .dropdown-content-h{
  display: none;
}
/* bdsfj */
#menu-footer-menu .f_sep:last-child{display:none}